
/*LOGO HOMEPAGE*/
#pagelogo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 10px;
}

/*Quick Look Up Button*/
.lookuplink {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}


/*Search title, search box, Search Button */
.searchboxtitle {
    margin-left: 480px;
    margin-top: 10px;
    font-size: 25px;
}

#searchbox {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#user_input {
    display: inline-block;
    margin-left: 500px;
    margin-right: auto;
    margin-top: 10px;
}


/*Horizontal Line Splitting page in half*/
.line {
    border: 1px solid #155a7b;
    width: 70%;
    margin: 30px auto;
}

#findbydivtitle {
    display: block;
    margin-left: 460px;
    margin-right: 350px;
    font-size: 25px;
}

/*DropDown Menus*/
.dropdown-left {
    display: inline-block;
    margin-left: 350px;
    padding: 15px;
    margin-top: 50px;
}

.dropdown-center {
    display: inline-block;
    padding: 15px;
    margin: auto;
}

.dropdown-right {
    display: inline-block;
    padding: 15px;
    margin: auto;
}


/*Trademark - Bottom of Page */
.trademark {
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

