

#pagelogo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 10px;

}



.dropdown-left {
    display: inline-block;
    margin-left: 350px;
    padding: 15px;
    margin-top: 50px;


}

.dropdown-center {
    display: inline-block;
    padding: 15px;
    margin: auto;
}

.dropdown-right {
    display: inline-block;
    padding: 15px;
    margin: auto;

}

#title {
    display: block;
    margin-left: 460px;
    margin-right: 350px;
    font-size: 25px;

}

.title1 {
    margin-left: 480px;
    margin-top: 10px;
    font-size: 25px;
}

#vmpnoobtitle {
    margin: 50px 300px 0px 300px;
}

.line {
    border: 1px solid #155a7b;

    width: 70%;
    margin: 30px auto;
}

#searchbox {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#user_input {
    display: inline-block;
    margin-left: 500px;
    margin-right: auto;
    margin-top: 10px;
}


.trademark {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}